@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('@fontsource/manrope/files/manrope-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('@fontsource/manrope/files/manrope-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('@fontsource/manrope/files/manrope-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('@fontsource/manrope/files/manrope-latin-700-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url('@fontsource/manrope/files/manrope-latin-800-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('@fontsource/inter/files/inter-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('@fontsource/inter/files/inter-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Symbols Outlined Variable';
  font-style: normal;
  font-display: block;
  font-weight: 100 700;
  src: url('@fontsource-variable/material-symbols-outlined/files/material-symbols-outlined-latin-full-normal.woff2') format('woff2-variations');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined Variable';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fb;
  color: #191c1e;
}

h1,
h2,
h3,
.font-manrope {
  font-family: "Manrope", sans-serif;
}
